<%- include('../partials/header', { user }) %>

<h3><%= user.email %>'s Pokémon parties!</h3>

<% parties.forEach(party => { %>
    <p><%= party.name %></p>
        <% party.pokemons.forEach(pokemon => { %>
    <p><%= pokemon.name %></p>
       <% }) %>
<%})%>


<form method="POST" action="/pokemon?_method=delete"> 
    <select name="party" id="party">
      <% parties.forEach(party => { %>
        <option value="<%= party.name %>"><%= party.name %></option>
           <% }) %>
  </select>
  <input type="text" name="name"/>
  <button class="removePokemon" type="submit">Remove Pokemon from Party</button>

</form>
<form method="POST" action="/pokemon?_method=put"> 
    <select name="party" id="party">
      <% parties.forEach(party => { %>
        <option value="<%= party.name %>"><%= party.name %></option>
           <% }) %>

  </select>
  <input type="text" name="name"/>
  <button class="changeParty" type="submit">Change Party Name</button>

</form>
<%- include('../partials/footer') %>